<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'"/>

<form action="#" th:action="@{/greeting}" th:object="${messageModeWrapper}" method="post">
    <select id="mode" name="mode">
        <option
                th:each="variant : ${fillingModeEnum}"
                th:text="${variant.description}"
                th:selected="${fillingMode == variant.description}"
        />
    </select>
    <input type="submit" value="save" name="save">
</form>
<div th:switch="${fillingMode}">
    <div th:case="${T(hello.MessageEnum).FILE.description}">
        <p>Please upload file</p>
        <form th:action="@{/greeting}" method="post">
            <input type="file" value="file">
            <input type="submit" name="send">
        </form>
    </div>
    <div th:case="${T(hello.MessageEnum).TEXT.description}">
        <p>Please fill message text area</p>
        <form th:action="@{/greeting}" method="post">
            <input type="text" value="message">
            <input type="submit" name="send">
        </form>
    </div>
</div>
</body>
</html>
