<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'"/>

<form action="#" th:action="@{/greeting}" th:object="${messageMode}" method="post"><!--th:object="${textFromSubmit}"-->
    <select id="mode" name="mode" >
        <option
                name="mode"
                th:each="variant : ${fillingModeEnum}"
                th:text="${variant.description}"
                th:selected="${inputText == variant.description}"
        />
    </select>
    <input type="submit" value="save" name="save">
</form>
<div th:switch="${inputText}">
    <div th:case="${T(hello.MessageFillingMode).FILE.description}">
        <p> file mode selected, please upload file</p>
        <input type="file" value="file">
        <input type="submit" name="send">
    </div>
        <div th:case="${T(hello.MessageFillingMode).TEXT.description}">
        <p> file mode selected, please upload file</p>
        <form th:action="@{/greeting}" method="post">
            <input type="text" value="mesage">
            <input type="submit" name="send">
        </form>
    </div>
</div>
</body>
</html>
